{% extends 'base.html' %}
{% load static %}


{% block title %}THE XLOG{% endblock %}

{% block style %}
<link href="{% static 'blog/css/blog.css' %}" rel="stylesheet">



{% endblock %}

{% block content %}

{% include "blog/navbar.html" %}

<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>

<div class="container" data-aos="zoom-in-up">
    <h1 class="mb-3 h4 text-center alert alert-primary">Total Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% for post in posts%}
    <article class="media content-section shadow">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }} " alt="author's image">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2 badge badge-primary text-center h5" href="{% url 'blog:user-posts' post.author.username %}">@{{ post.author }}</a>
                <small class="text-muted h6"> {{ post.date_posted|date:"F d, Y"|upper }}</small>
            </div>
            <h2><a class="article-title font-weight-bold" href="{% url 'blog:post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.description|striptags|truncatechars:200 }}</p>
        </div>
        {% if post.thumbnail_image %}
            <img class="article-thumbnail ml-3 mt-2 rounded " src="{{ post.thumbnail_image.url }}" alt="Generic placeholder image">
        {% endif %}
    </article>
    {% endfor%}

    <!-- Pagination -->
    <div class="text-center">
        {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
            
            {% for num in page_obj.paginator.page_range %}  
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page.number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
    </div>
</div>


{% if is_paginated %}
    {% include 'footer.html'%}
{% endif %}

{% endblock %}
