{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}THE XLOG{% endblock %}

{% block style %}
<link href="{% static 'users/css/main.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

{% include "blog/navbar.html" %}

<div class="container mb-5" data-aos="fade-up">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'users/image/done.svg'%}" id="complete-img" alt="complete imgage">
        </div>
        <div class="col-md-6">
            <div class="right-content">
              <h1 class="display-4">Email Sent Successfully</h1>
              <p class="lead">An email has been sent to your email id. Please go throw the link provided in the mail to change your password</p>
            </div>
        </div>
    </div>
</div>



{% endblock%}